{
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es2022": true
  },
  "rules": {
    "import/extensions": ["error", "always"]
  }
}
